## sudo alias for sudo
alias sudo='sudo '

## Generic
alias grep='grep --color=auto'
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
alias ssh="TERM=linux ssh"
alias doMagic="pithos"
alias df="df -H"
alias today='cal | grep -C7 --color=auto "\<$(date +%Oe)\>"'
alias calloop='while true;do clear; today; sleep 30m; done'
alias rand="/bin/bash /home/mwaldorf/scripts/randomwordgen.sh"
alias chbg="/bin/bash /home/mwaldorf/scripts/backgroundchanger.sh"
alias changebg="chbg"
alias vpnstart="sudo iked;qikea"
alias reloadxdefaults="xrdb -merge $HOME/.Xresources"
alias update="sudo dnf update"
alias updatey="sudo dnf -y update"
alias hist="history"
alias ping="ping -c 5"
alias bashreload="source ~/.bashrc"
alias reloadbash="bashreload"
alias freem="free -hm"
alias du1="du -h --max-depth=1"
alias duTotal="du -csh * | grep total"
alias tailf="tail -f"
alias mkdir='mkdir -pv'
alias mkcd='foo(){ mkdir -p "$1"; cd "$1" }; foo '
alias ff='find . -type f -iname'
alias myip="curl http://ipecho.net/plain; echo"

#install colordiff package
alias diff="colordiff"
alias ports="sudo netstat -tuplan"

# do not delete / or prompt if deleting more than 3 files at a time #
alias rm='rm -I --preserve-root'

# confirmation #
alias mv='mv -i'
alias cp='cp -ai'
alias ln='ln -i'

# Parenting changing perms on / #
alias chown='chown --preserve-root'
alias chmod='chmod --preserve-root'
alias chgrp='chgrp --preserve-root'

## Change according to system
alias update='sudo dnf update'
#alias update='yum update'
#alias updatey='yum -y update'
## All of our servers enp0s25 is connected to the Internets via vlan / router etc  ##

## Download packages for vnstat,iftop,tcpdump,ethtool
alias dnstop='dnstop -l 5  enp0s25'
alias vnstat='vnstat -i enp0s25'

## Wifi
alias wifiap="nmcli device wifi list"

## Interface traffic
alias iftop='iftop -i enp0s25'
alias tcpdump='tcpdump -i enp0s24'
alias ethtool='ethtool enp0s25'

## External IP
alias myip="curl icanhazip.com"

## remoting into windows machines
alias remote='rdesktop -g 1820x980'

## Something for python
alias py='python'
alias webserver="python /home/mwaldorf/scripts/pyhtml.py"
alias web8080="python -m SimpleHTTPServer 8080"

## Shrewsoft VPN Help
alias VPN="/bin/bash /home/mwaldorf/scripts/shrewVPNconnect.sh"
alias vpnhelp="echo -e 'shrewVPNconnect.sh can be used to connect to the Cisco VPNs via CLI\nThe VPN command will run shrewVPNconnect.sh\nikec -r ConnName -u USER -p PASSWORD -a \nArk-LasVegas\nArk-Lindon\nArk-Lindonfailover\nBay-Health\nBay-Health-Vegas\nBronx\nDHIN\nHASA\nJHIE\nPOC\nor use vpnstart to launch the ShrewSoft GUI'"

## Simple git help because I can never Remember the order
alias githelp="echo -e 'git add . (add new files)\ngit commit (commit the changes made)\ngit push (push to the branch)\n-sparky loves alice'"

# work on wlan0 by default #
# Only useful for laptop as all servers are without wireless interface
alias iwconfig='iwconfig wlan0'

# some memory info
alias vmstat='vmstat -w 5'
alias meminfo='free -m -h -l -t'
 
## get top process eating memory
alias psmem='ps auxf | sort -nr -k 4'
alias psmem10='ps auxf | sort -nr -k 4 | head -10'
 
## get top process eating cpu ##
alias pscpu='ps auxf | sort -nr -k 3'
alias pscpu10='ps auxf | sort -nr -k 3 | head -10'
 
## Get server cpu info ##
alias cpuinfo='lscpu'

## Start Virtual Windows Machine
alias startvm='VBoxManage startvm Kumonga'

## Weather
alias W='curl -s -N wttr.in | head -7'

## Emulator
alias psx='pcsxr &'
alias ps2='pcsx2 &'
alias snes='zsnes &'
alias play='sudo rmmod xpad ; sudo xboxdrv --silent &'
alias controller='play &'
alias games='jobs'

## Color tests
alias colortest1='(x=`tput op` y=`printf %76s`;for i in {0..256};do o=00$i;echo -e ${o:${#o}-3:3} `tput setaf $i;tput setab $i`${y// /=}$x;done)
'
alias colortest2='/bin/bash /home/mwaldorf/scripts/colortest.sh'
alias colortest3='for x in {0..8}; do for i in {30..37}; do for a in {40..47}; do echo -ne "\e[$x;$i;$a""m\\\e[$x;$i;$a""m\e[0;37;40m "; done; echo; done; done; echo ""'

## Some History Commands
alias hist10="awk '{print $1}' ~/.bash_history | sort | uniq -c | sort -rn | head -n 10"

## Useless but fun
alias busy="cat /dev/urandom | hexdump -C | grep --color=never 'ca fe'" 


## XTerm Fix
alias xtermfix="xrdb ~/.X*"
## Launch xterm for pictures
alias pictures="xterm -bg black -fg grey -ti vt340"
## Pictures in xterm
alias lsix="/home/mwaldorf/scripts/lsix"

